.app-header {
    background-color: $clr1;
    color: $clr2bg-light;
    padding-block: 1em;
  
    .header-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .app-nav {
      display: flex;
      gap: 15px;
    }
  
    @media (max-width: 720px) {
      color: $clr2bg-light;
    }
  }
  
  a.active {
    color: rgb(241, 212, 241);
    font-weight: 600;
    text-decoration: underline;
  }