.chat-container {
    text-align: start;
    padding: 10px;
    background-color: white;
    max-height: 25vh;
    min-height: 20vh;
    overflow-x: auto;
  
    .chat-message {
      padding: 10px;
      border-bottom: 1px solid #ddd;
    }
  
    .even {
      background-color: white;
    }
  
    .odd {
      background-color: #f3f3f3;
    }
  
    .support {
      color: blue;
    }
  
    .guest {
      color: black;
    }
  }
  
  .chat-input {
    display: flex;
    gap: 5px;
    align-items: center;
  
    input {
      flex: 1;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      height: 40px;
      font-size: 16px;
    }
  
    button {
      padding: 10px 15px;
      background-color: blue;
      color: white;
      border: 1px solid blue;
      border-radius: 5px;
      cursor: pointer;
      height: 40px;
      font-size: 16px;
  
      &:hover {
        background-color: darkblue;
      }
    }
  }
  
  .status-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  
    .status-dot {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      display: inline-block;
    }
  
    .online {
      background-color: green;
    }
  
    .offline {
      background-color: red;
    }
  }
  