.toy-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.toy-details h1 {
    color: var(--clr1);
    font-size: 2em;

}

.toy-details h5 {
    color: var(--clr2);
}

.toy-details img {
    max-width: 200px;
}

.toy-details.labels {
    margin-top: 10px;
}

.toy-details .label {
    display: inline-block;
    background-color: var(--clr1bg-light);
    color: var(--gray3);
    padding: 5px 10px;
    margin: 3px;
    border-radius: 5px;
    font-size: 1em;
}

.available{
    color: green;
}

.unavailable{
    color: red;
}