.toy-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-block-start: 20px;
    border-radius: 15px;
    padding: 10px;
    background: var(--clr1bg-light);

}

.toy-details .toy-details-nav {
    display: flex;
    gap: 10px;
}


/* .toy-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.toy-details h1 {
    color: var(--clr1);
    font-size: 2em;

}

.toy-details h5 {
    color: var(--clr2);
}

.toy-details img {
    max-width: 200px;
}

.toy-details .labels {
    text-align: center;
    margin-top: 10px;
}

.toy-details .label {
    display: inline-block;
    background-color: var(--clr1);
    color: var(--gray3);
    padding: 5px 10px;
    margin: 3px;
    border-radius: 5px;
    font-size: 1em;
}

.available{
    color: green;
}

.unavailable{
    color: red;
}