* {
  box-sizing: border-box;
}

html {
}

body {
  margin: 0;
  color: var(--gray3);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: .5em 0 .5em;
  font-family: 'Edu VIC WA NT Beginner', cursive;
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}



/* Dont stretch my Media */
img,
embed,
video,
object {
  max-width: 100%
}

/* Simple and useful CSS Debugging Technique */
.debug * {
  outline: 1px solid gold
}


.about nav a {
    margin-right: 10px;
}

.done {
  text-decoration: line-through;
  font-style: italic;
}

.loader {
  caret-color: transparent;
  border: 16px solid var(--clr1bg-light);
  border-top: 16px solid var(--clr1); 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}